* {
    margin:0px;
}
header {
    position:absolute;
    font-size:13px;
    width:100%;
    display:inline-flex;
    flex-grow:1;
    margin:1em;

}
header a{
    font-family:Arial, Sans-serif;
    text-decoration:none;
    color:black;
}
header a:hover {
    text-decoration:underline;
}
header input {
    font-family:Arial, Sans-serif;
    color:white;
    background:#4d90fe;
    border-color:#3079ed;
    font-weight:bold;
    border-radius:2px;
}
.left {
    flex-grow:1;
    margin:.5em;
}

.right {
    flex-grow:1;
    text-align:right;
    margin:.5em;
}



.content {
    display:flex;
    flex-wrap:wrap;
    align-content:center;
    justify-content:center;
    
}
.content form {
    display:flex;
    flex-direction:column;
}
.buttons {
    display:flex;
}
.buttons button {
    flex-grow:.5;
    margin:.2em;
}


footer {
    position:absolute;
    display:inline-flex;
    flex-direction:ltr;
    flex-grow:1;
    justify-items:space-evenly;
}